# PANDAS

Resources:

- [Essential Pandas functionality](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics-apply)
- [Pandas cookbook](http://pandas.pydata.org/pandas-docs/version/0.15.2/cookbook.html#cookbook)

Prep:

In [0]:
import os
os.getcwd()

In [0]:
import sys, os, re

working_directory = os.getcwd()
if re.search('\\\\Notebooks\\\\Python$', working_directory):
    kfir_directory = re.sub('\\\\Notebooks\\\\Python$', '\\KFIR', working_directory)
    sys.path.append(kfir_directory)
    
sys.path

['',
 'C:\\ProgramData\\Anaconda3\\python36.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Sphinx-1.5.1-py3.6.egg',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\setuptools-27.2.0-py3.6.egg',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\Clokman\\.ipython',
 'C:\\Users\\Clokman\\Google Drive\\__Projects__\\Code\\KFIR']

# SERIES

Prep:

In [0]:
import pandas
import numpy

## Creating a Series object

In [0]:
pandas.Series([1, 'two', 'True', None, numpy.nan])

0       1
1     two
2    True
3    None
4     NaN
dtype: object

## Accessing Data in Series

In [0]:
my_series = pandas.Series([1, 'two'])

In [0]:
my_series.values

array([1, 'two'], dtype=object)

In [0]:
my_series.values[1]

'two'

In [0]:
my_series[1]

'two'

In [0]:
my_series.loc[1]

'two'

## Series Methods

### Append

Append to empty series:

In [0]:
letters = pandas.Series()
additional_etters = pandas.Series(['e, f'])

letters.append(additional_etters)

0    e, f
dtype: object

Append to already populated series:

In [0]:
letters = pandas.Series(['a, b', 'c, d'])
additional_etters = pandas.Series(['e, f'])

letters.append(additional_etters)

0    a, b
1    c, d
0    e, f
dtype: object

### Tokenize / Split

Split each element in the Series:

In [0]:
letters = pandas.Series(['a, b', 'c, d', 'e, f'])
splitted_letters = letters.str.split(',')
splitted_letters

0    [a,  b]
1    [c,  d]
2    [e,  f]
dtype: object

Tokenize series:

In [0]:
splitted_letters_as_list = []
for each_letter_group in splitted_letters:
    for each_letter in each_letter_group:
        splitted_letters_as_list.append(each_letter)
tokenized_series = pandas.Series(splitted_letters_as_list)
tokenized_series

0     a
1     b
2     c
3     d
4     e
5     f
dtype: object

### Simple String Methods
***.str.upper() | ...***

In [0]:
my_series = pandas.Series(['one', 'two', 'three'])
my_series.str.upper()

0      ONE
1      TWO
2    THREE
dtype: object

# DATA FRAMES

Prep:

In [1]:
import pandas
import numpy

## Creating a DataFrame

Create empty dataframe:

In [2]:
df1 = pandas.DataFrame(columns=['Column A', 'Column B', 'Column C'], index=['Row 1', 'Row 2'])
df1

      Column A Column B Column C
Row 1      NaN      NaN      NaN
Row 2      NaN      NaN      NaN

Create dataframe COLUMN by COLUMN with values:

In [3]:
df3 = pandas.DataFrame(
    { # dictionary
        'Column A': (1, 2, 3),  # tuple
        'Column B': [10, 20, 30],  # list
        'Column C': pandas.Series([100, 200, 300]),  # pandas.Series
        'Column D': numpy.array([1000, 2000, 3000])  # one-dimensional numpy array
    }
)
df3

   Column A  Column B  Column C  Column D
0         1        10       100      1000
1         2        20       200      2000
2         3        30       300      3000

Create dataframe COLUMN BY COLUMN with values (and row names):

In [4]:
df4 = pandas.DataFrame(
    {
        'Column A': (1, 2, 3),
        'Column B': [10, 20, 30]
    }, index=['Row one', 'Row two', 'Row three']  # row names
)
df4

           Column A  Column B
Row one           1        10
Row two           2        20
Row three         3        30

Create dataframe ROW by ROW with specified values:

In [5]:
df5 = pandas.DataFrame()

In [6]:
df5 = pandas.DataFrame(numpy.array([[2, 3, 4]]), columns=['Column A', 'Column B', 'Column C'])
df5

   Column A  Column B  Column C
0         2         3         4

Create dataframe ROW by ROW with specified values (more elaborate example):

In [7]:
df5 = pandas.DataFrame(numpy.array([[1, 2, 3], [10, 20, 30]]), columns=['Column A', 'Column B', 'Column C'], index=['One', 'Two'])
df5

     Column A  Column B  Column C
One         1         2         3
Two        10        20        30

## Selecting and Modifying DataFrame Elements

The syntax for selecting dataframes is `df.loc[row, column]`.

This is similar with NumPy arrays (i.e., `my_ndarray[row, column]`)

Create empty dataframe:

In [20]:
df1 = pandas.DataFrame(columns=['Column A', 'Column B', 'Column C'], index=['Row 1', 'Row 2'])
df1

      Column A Column B Column C
Row 1      NaN      NaN      NaN
Row 2      NaN      NaN      NaN

Select column:

In [21]:
df1.loc[:,'Column C'] = ('X1', 'X2')
df1

      Column A Column B Column C
Row 1      NaN      NaN       X1
Row 2      NaN      NaN       X2

Select row:

In [22]:
df1.loc['Row 1', :] = ('Y', 'Y', 'Y')
df1

      Column A Column B Column C
Row 1        Y        Y        Y
Row 2      NaN      NaN       X2

Select cell (explicit method):

In [23]:
df1.loc[:, 'Column B']['Row 1'] = 'Z1'
df1

      Column A Column B Column C
Row 1        Y       Z1        Y
Row 2      NaN      NaN       X2

Select cell (shorthand, specify column first):

In [24]:
df1['Column B']['Row 1'] = 'Z2'
df1

      Column A Column B Column C
Row 1        Y       Z2        Y
Row 2      NaN      NaN       X2

Select cell (shorthand, specify row first):

In [25]:
df1.loc['Row 1']['Column B'] = 'Z3'
df1

      Column A Column B Column C
Row 1        Y       Z3        Y
Row 2      NaN      NaN       X2

## Appending to a Dataframe
***.loc[] | .append() | join()***

Prep:

In [33]:
df = pandas.DataFrame(numpy.array([[1, 2]]), columns=['Column A', 'Column B'])

Append row at the end:

In [34]:
df.loc[len(df), :] = (3, 3)
df

   Column A  Column B
0       1.0       2.0
1       3.0       3.0

Append cell at the end:

In [0]:
df.loc[len(df), 'Column A'] = 4
df

   Column A  Column B
0       1.0       2.0
1       3.0       3.0
2       4.0       NaN

Add new rows (append dataframe to dataframe):

In [0]:
dfa = pandas.DataFrame(numpy.array([[1, 2]]), columns=['Column A', 'Column B'])
dfb = pandas.DataFrame(numpy.array([[10, 20]]), columns=['Column A', 'Column B'])
dfa.append(dfb, ignore_index=True)

   Column A  Column B
0         1         2
1        10        20

Add a new column (append dataframe to dataframe):

In [0]:
dfc = pandas.DataFrame({'Column A': (1, 2, 3)})
dfd = pandas.DataFrame({'Column C': (10, 20, 30)})
dfc.join(dfd)

   Column A  Column C
0         1        10
1         2        20
2         3        30

Extend column (append a column to another column):

In [0]:
dfa = pandas.DataFrame({'Column A': [1, 2]})
dfb = pandas.DataFrame({'Column A': [10, 20]})
dfa.append(dfb, ignore_index=True)

   Column A
0         1
1         2
2        10
3        20

## Iterating over a Dataframe

Iteration in Pandas should not be preferred if there is an alternative way to achieve the same results (e.g., *.apply* method).

From [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/basics.html#iteration):

> Warning
>
> Iterating through pandas objects is generally slow. In many cases, iterating manually over the rows is not needed and can be avoided with one of the following approaches:
>
> - When you have a function that cannot work on the full DataFrame/Series at once, it is better to use ***apply()*** instead of iterating over the values. See the docs on function application.
> - Look for a vectorized solution: many operations can be performed using built-in methods or ***NumPy functions***, (boolean) indexing, â€¦
> - If you need to do iterative manipulations on the values but performance is important, consider writing the inner loop with cython or numba. See the enhancing performance section for some examples of this approach.

In [0]:
import pandas

Initialize dataframe:

In [0]:
df = pandas.DataFrame(
    { # dictionary
        'Column A': [1, 2, 3],
        'Column B': [10, 20, 30]
    }
)
df

   Column A  Column B
0         1        10
1         2        20
2         3        30

### Iterate over Rows

Simply iterate over rows:

In [0]:
for index, each_row in df.iterrows():
    print('{index}: {value}\n'.format(index=index, value=each_row))

0: Column A     1
Column B    10
Name: 0, dtype: int64

1: Column A     2
Column B    20
Name: 1, dtype: int64

2: Column A     3
Column B    30
Name: 2, dtype: int64

Recommended way (for speed):

In [0]:
df.apply(print)

0    1
1    2
2    3
Name: Column A, dtype: int64
0    10
1    20
2    30
Name: Column B, dtype: int64

Column A    None
Column B    None
dtype: object

Iterate over rows and access variables being iterated:

In [0]:
for index, each_row in df.iterrows():
     print(index, each_row.index.values, each_row.values, each_row.name)

0 ['Column A' 'Column B'] [ 1 10] 0
1 ['Column A' 'Column B'] [ 2 20] 1
2 ['Column A' 'Column B'] [ 3 30] 2

Iterate over rows and their elements with a double loop:

In [0]:
for index, each_row in df.iterrows():
    print ('\nrow %s:' % str(index))
    for each_column_name, each_cell in each_row.iteritems():
        print(each_column_name, each_cell)

row 0:
Column A 1
Column B 10

row 1:
Column A 2
Column B 20

row 2:
Column A 3
Column B 30

### Keywords (by Authors) -- V2

'Keywords' has no other properties attached to it:

In [0]:
retrieve_all_sub_attributes('wos:DE')

Empty DataFrame
Columns: [p]
Index: []

#### Building the Keyword Processing Pipeline and Testing it on Part of the WoS Graph

In [0]:
from retriever.sparql_tools import WebOfScienceQuery
from preprocessor.dataframe_tools import Data_Frame

In [0]:
wos_query = WebOfScienceQuery(eculture_query)

(1) Retrieve a test dataset (using LIMIT ...) containing article ids and associated keywords:

In [0]:
ids_vs_keywords = wos_query.retrieve_relationships_of_property('wos:DE',
                                                               desired_column_name_for_literal='authorKeywords',
                                                               limit=10)
ids_vs_keywords

                wosArticleUri                                                            authorKeywords
0  wosres:WOS_000070970500011           Elymus athericus; growth; photosynthesis; ozone; UV-B radiation
1  wosres:WOS_000070998100010                              pain, postoperative; analgesics, prescribing
2  wosres:WOS_000070998900007           DIC; Nomarski; interference; microscopy; CCD; image processing;
3  wosres:WOS_000070998900007  analysis; reconstruction; optical pathlength; phase; transparent; living
4  wosres:WOS_000071006900008                    atherosclerosis; homocysteine; metformin; vitamin B-12
5  wosres:WOS_000071013000007                                               policy; household economics
6  wosres:WOS_000071013000007      sub-Saharan Africa; Swaziland; labor migration; food security; labor
7  wosres:WOS_000071021600006                nitric oxide radical; NO scavenging; thiol; S-nitrosothiol
8  wosres:WOS_000071021600006                                             (electrochemical); NO sensing
9  wosres:WOS_000071040300005      lumbar spine; vertebra; trabecular bone; Wolff's Law; intervertebral

(2) Because the keywords are in a semicolon-separated list, they need to be tokenized:

In [0]:
ids_vs_keywords = Data_Frame(ids_vs_keywords)
ids_vs_keywords.tokenize_string_column(string_column_name='authorKeywords', 
                                       id_column_name='wosArticleUri', 
                                       delimiter_pattern_in_literal_cells='; ')
ids_vs_keywords.dataframe

                 wosArticleUri           authorKeywords
0   wosres:WOS_000070970500011         Elymus athericus
1   wosres:WOS_000070970500011                   growth
2   wosres:WOS_000070970500011           photosynthesis
3   wosres:WOS_000070970500011                    ozone
4   wosres:WOS_000070970500011           UV-B radiation
5   wosres:WOS_000070998100010      pain, postoperative
6   wosres:WOS_000070998100010  analgesics, prescribing
7   wosres:WOS_000070998900007                      DIC
8   wosres:WOS_000070998900007                 Nomarski
9   wosres:WOS_000070998900007             interference
10  wosres:WOS_000070998900007               microscopy
11  wosres:WOS_000070998900007                      CCD
12  wosres:WOS_000070998900007        image processing;
13  wosres:WOS_000070998900007                 analysis
14  wosres:WOS_000070998900007           reconstruction
15  wosres:WOS_000070998900007       optical pathlength
16  wosres:WOS_000070998900007                    phase
17  wosres:WOS_000070998900007              transparent
18  wosres:WOS_000070998900007                   living
19  wosres:WOS_000071006900008          atherosclerosis
20  wosres:WOS_000071006900008             homocysteine
21  wosres:WOS_000071006900008                metformin
22  wosres:WOS_000071006900008             vitamin B-12
23  wosres:WOS_000071013000007                   policy
24  wosres:WOS_000071013000007      household economics
25  wosres:WOS_000071013000007       sub-Saharan Africa
26  wosres:WOS_000071013000007                Swaziland
27  wosres:WOS_000071013000007          labor migration
28  wosres:WOS_000071013000007            food security
29  wosres:WOS_000071013000007                    labor
30  wosres:WOS_000071021600006     nitric oxide radical
31  wosres:WOS_000071021600006            NO scavenging
32  wosres:WOS_000071021600006                    thiol
33  wosres:WOS_000071021600006           S-nitrosothiol
34  wosres:WOS_000071021600006        (electrochemical)
35  wosres:WOS_000071021600006               NO sensing
36  wosres:WOS_000071040300005             lumbar spine
37  wosres:WOS_000071040300005                 vertebra
38  wosres:WOS_000071040300005          trabecular bone
39  wosres:WOS_000071040300005              Wolff's Law
40  wosres:WOS_000071040300005           intervertebral

(3) Tokenized keywords contain items such as "Wolff's Law" and "(electrochemical)". They need to be cleaned from special characters:

In [0]:
ids_vs_keywords.purify_column(target_column_name='authorKeywords')
ids_vs_keywords.dataframe

                 wosArticleUri           authorKeywords
0   wosres:WOS_000070970500011         Elymus athericus
1   wosres:WOS_000070970500011                   growth
2   wosres:WOS_000070970500011           photosynthesis
3   wosres:WOS_000070970500011                    ozone
4   wosres:WOS_000070970500011           UV-B radiation
5   wosres:WOS_000070998100010      pain, postoperative
6   wosres:WOS_000070998100010  analgesics, prescribing
7   wosres:WOS_000070998900007                      DIC
8   wosres:WOS_000070998900007                 Nomarski
9   wosres:WOS_000070998900007             interference
10  wosres:WOS_000070998900007               microscopy
11  wosres:WOS_000070998900007                      CCD
12  wosres:WOS_000070998900007        image processing;
13  wosres:WOS_000070998900007                 analysis
14  wosres:WOS_000070998900007           reconstruction
15  wosres:WOS_000070998900007       optical pathlength
16  wosres:WOS_000070998900007                    phase
17  wosres:WOS_000070998900007              transparent
18  wosres:WOS_000070998900007                   living
19  wosres:WOS_000071006900008          atherosclerosis
20  wosres:WOS_000071006900008             homocysteine
21  wosres:WOS_000071006900008                metformin
22  wosres:WOS_000071006900008             vitamin B-12
23  wosres:WOS_000071013000007                   policy
24  wosres:WOS_000071013000007      household economics
25  wosres:WOS_000071013000007       sub-Saharan Africa
26  wosres:WOS_000071013000007                Swaziland
27  wosres:WOS_000071013000007          labor migration
28  wosres:WOS_000071013000007            food security
29  wosres:WOS_000071013000007                    labor
30  wosres:WOS_000071021600006     nitric oxide radical
31  wosres:WOS_000071021600006            NO scavenging
32  wosres:WOS_000071021600006                    thiol
33  wosres:WOS_000071021600006           S-nitrosothiol
34  wosres:WOS_000071021600006          electrochemical
35  wosres:WOS_000071021600006               NO sensing
36  wosres:WOS_000071040300005             lumbar spine
37  wosres:WOS_000071040300005                 vertebra
38  wosres:WOS_000071040300005          trabecular bone
39  wosres:WOS_000071040300005               Wolffs Law
40  wosres:WOS_000071040300005           intervertebral

(4) Collapse

In [0]:
ids_vs_keywords = ids_vs_keywords.collapse_dataframe_on_column(values_column_name='authorKeywords', identifier_column_name='wosArticleUri')
ids_vs_keywords.dataframe

,wosArticleUri,authorKeywords
0,wosres:WOS_000070970500011,"[Elymus athericus, growth, photosynthesis, ozone, UV-B radiation]"
1,wosres:WOS_000070998100010,"[pain, postoperative, analgesics, prescribing]"
2,wosres:WOS_000070998900007,"[DIC, Nomarski, interference, microscopy, CCD, image processing;, analysis, reconstruction, opti..."
3,wosres:WOS_000071006900008,"[atherosclerosis, homocysteine, metformin, vitamin B-12]"
4,wosres:WOS_000071013000007,"[policy, household economics, sub-Saharan Africa, Swaziland, labor migration, food security, labor]"
5,wosres:WOS_000071021600006,"[nitric oxide radical, NO scavenging, thiol, S-nitrosothiol, electrochemical, NO sensing]"
6,wosres:WOS_000071040300005,"[lumbar spine, vertebra, trabecular bone, Wolffs Law, intervertebral]"

(5) Prepare strings to be later passed on to VALUES keyword in Gastrodon_Query:<br>
(This alleviates the need to send one SPARQL query per keyword, and instead, will be used to group keywords per article ID using the VALUES keyword)

In [0]:
from retriever.sparql_tools import Sparql_Parameter

In [0]:
author_keywors_column = ids_vs_keywords.dataframe['authorKeywords']

parameterized_keywords_series = Sparql_Parameter.Values_Parameter_Series()
parameterized_keywords_series.import_and_convert_pandas_series(author_keywors_column)

ids_vs_keywords.dataframe['authorKeywords'] = parameterized_keywords_series.series
ids_vs_keywords.dataframe

,wosArticleUri,authorKeywords
0,wosres:WOS_000070970500011,"""Elymus athericus"" ""growth"" ""photosynthesis"" ""ozone"" ""UV-B radiation"""
1,wosres:WOS_000070998100010,"""pain, postoperative"" ""analgesics, prescribing"""
2,wosres:WOS_000070998900007,"""DIC"" ""Nomarski"" ""interference"" ""microscopy"" ""CCD"" ""image processing;"" ""analysis"" ""reconstructio..."
3,wosres:WOS_000071006900008,"""atherosclerosis"" ""homocysteine"" ""metformin"" ""vitamin B-12"""
4,wosres:WOS_000071013000007,"""policy"" ""household economics"" ""sub-Saharan Africa"" ""Swaziland"" ""labor migration"" ""food security..."
5,wosres:WOS_000071021600006,"""nitric oxide radical"" ""NO scavenging"" ""thiol"" ""S-nitrosothiol"" ""electrochemical"" ""NO sensing"""
6,wosres:WOS_000071040300005,"""lumbar spine"" ""vertebra"" ""trabecular bone"" ""Wolffs Law"" ""intervertebral"""

(6) Update the test graph using the parameterised keywords:

In [0]:
for each_parameter_string in ids_vs_keywords.dataframe['authorKeywords']:
    print(each_parameter_string)

"Elymus athericus" "growth" "photosynthesis" "ozone" "UV-B radiation"
"pain, postoperative" "analgesics, prescribing"
"DIC" "Nomarski" "interference" "microscopy" "CCD" "image processing;" "analysis" "reconstruction" "optical pathlength" "phase" "transparent" "living"
"atherosclerosis" "homocysteine" "metformin" "vitamin B-12"
"policy" "household economics" "sub-Saharan Africa" "Swaziland" "labor migration" "food security" "labor"
"nitric oxide radical" "NO scavenging" "thiol" "S-nitrosothiol" "electrochemical" "NO sensing"
"lumbar spine" "vertebra" "trabecular bone" "Wolffs Law" "intervertebral"

Iterate over rows as tuples:

In [0]:
for each_row in df.itertuples():
    print(each_row)

Pandas(Index=0, _1=1, _2=10)
Pandas(Index=1, _1=2, _2=20)
Pandas(Index=2, _1=3, _2=30)

Iterate over tuples and access variables:

In [0]:
for each_row in df.itertuples():
    print ('row_index:%d, value1:%a value2:%d'%(each_row[0], each_row[1], each_row[2]))

row_index:0, value1:1 value2:10
row_index:1, value1:2 value2:20
row_index:2, value1:3 value2:30

### Iterate over Columns

In [0]:
for each_column in df:
    print(df[each_column])

0    1
1    2
2    3
Name: Column A, dtype: int64
0    10
1    20
2    30
Name: Column B, dtype: int64

Advanced iteration - Extract column names, cell values, and row indexes:

In [0]:
for name, values in df.iteritems():
    values_series=values.values
    index_series=values.index.values
    
    for i in index_series:
        print('{name} {index}: {value}'.format(name=name, index=index_series[i], value=values_series[i]))

Column A 0: 1
Column A 1: 2
Column A 2: 3
Column B 0: 10
Column B 1: 20
Column B 2: 30

## Querying a Dataframe

In [0]:
import pandas
df = pandas.DataFrame({'Column A': [1, 2],
                       'Column B': ['a', 'b'],
                       'Column C': [True, True]
})

### Dimensions
***.shape***

Rerturn a tuple in the form of "(no_of_rows, no_of_columns)"

In [0]:
df.shape  # the dataframe has 2 rows and 3 columns

(2, 3)

### Column Type
***.dtypes() | .dtype***

In [0]:
df.dtypes

Column A     int64
Column B    object
Column C      bool
dtype: object

In [0]:
print(df['Column A'].dtype)
print(df['Column B'].dtype)
print(df['Column C'].dtype)

int64
object
bool

In [0]:
df['Column A'].dtype

dtype('int64')

In [0]:
df['Column B'].dtype

dtype('O')

In [0]:
df['Column C'].dtype

dtype('bool')

### Descriptive Statistics
***.describe***

In [0]:
df.describe()

       Column A
count  2.000000
mean   1.500000
std    0.707107
min    1.000000
25%    1.250000
50%    1.500000
75%    1.750000
max    2.000000

In [0]:
df['Column C'].value_counts()

True    2
Name: Column C, dtype: int64